.DS_Store

# App specific folders
.CFUserTextEncoding
DS_Store
.NERDTreeBookmarks
.Trash/
.antigen/
.atom/
.bash_history
.bash_sessions/
.cache/
.composer/
.config
.dropbox/
.httpie/
.hyper_plugins/
.kodi/
.lesshst
.npm/
.oracle_jre_usage/
.quokka/
.ssh/
.subversion/
.vim/
.viminfo
.vscode/
.vue-templates/
.wget-hsts
.yarnrc
.z
.zcompdump
.zsh_history

# User folders
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Projects/
Public/

