[core]
  excludesfile = $HOME/.gitignore_global

[alias]
  st = status
  df = diff
  co = checkout
  ci = commit
  br = branch
  svnpull = svn rebase
  svnpush = svn dcommit
  b = branch
  r = rebase

[user]
  name = Gabriel Slama
  email = contact@griable.com

[color]
  ui = true

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[push]
	default = current
